@font-face {
    font-family: 'apple_regular';
    src: url('apple_-webfont.woff2') format('woff2'),
         url('apple_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after{
    content:" ";
    display:table;
    clear:both;
}
#logo {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
#marquee {
    width: 100%;
    background-color: rgb(183, 252, 252);
    padding: 40px;
}
#phone {
    height: 400px;
    /*display: inline;*/
    float: right;
    margin-right: 100px;
    vertical-align: middle;
}
#intro {
    float: left;
    width: 30%;
    margin-left: 100px;
    padding-top: 160px;
    /*display: inline;*/
    vertical-align: middle;
}
#marquee form {
    margin-top: 40px;
    /*width: 800px;*/
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    /*width: 60%;*/
}
h1 {
    font-family: "apple_regular";
    font-size: 30px;
    line-height: 42px;
    /*width: 40%;*/
    text-shadow:
    -2px -0px 0 #FFC0CB,  
     2px -0px 0 #48D1CC,
    -2px 2px 0 #FFFFFF,
     2px 2px 0 #FFFFFF;
    /*padding: 20px;*/
    margin-top: -23.24px;
    margin-bottom: -23.24px;
}
h2 {
    font-family: "apple_regular";
    font-size: 28px;
    line-height: 42px;
    /*width: 72%;*/
    padding: 40px;
    text-shadow:
    -2px -0px 0 #FFC0CB,  
     2px -0px 0 #48D1CC,
    -2px 2px 0 #FFFFFF,
     2px 2px 0 #FFFFFF;
}
main h1 {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}
main h2 {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}
#module1 {
    background-color: rgb( 255, 193, 187);
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px;
    width: 100%;
}
#module2 {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px;
    width: 100%;
}
#module2 img {
    height: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
#module3 { 
    background-color: rgb(183, 252, 252);
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px;
    width: 100%;
}
#module4 {
    background: url(../images/gallery-1280.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    height: 800px;
    margin-top: 23.24px;
}
#module4 h1 {
    padding-top: 40px;
}
#module5 {
    background-color: rgb(255, 193, 187);
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px;
    width: 100%;
}
#module5 img {
    width: 76%;
}
#module6 {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px;
    width: 100%;
}
#module6 img {
    height: 60px;
    padding-bottom: 20px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
#module7 { 
    width: 1280px;
    background-color: rgb(183, 252, 252);
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px;
    width: 100%;
}
footer {
    text-align: center;
}
#foot {
    width: 100%;
    background: url(../images/footer-1280.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    margin-top: -23.24px;
}
footer h2 {
    padding-top: 200px;
}
main {
    text-align: center;
    /*padding-bottom: 100px;*/
}
#module2 img, #module6 img {
    height: 300px;
}
input[type=text] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 400px;
    padding-bottom: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 4px solid black;
    background-color: transparent;
}
#button {
    border: none;
    border-bottom: 4px solid black;
    background-color: transparent;
    padding-bottom: 10px;
    padding-left: 0px;
    font-family: 'Roboto', sans-serif;
    color: black;
    /*text-align: center;*/
    display: inline-block;
    font-size: 16px;
}
#thanks1, #error1, #thanks, #error {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    display: none;
    /*padding-top: -20px;*/
}
::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
}
/** {*/
/*    border: solid red 1px;*/
/*}*/