* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin-left: 6px;
    margin-top: 10px;
}
header{
    margin-bottom: 60px;
}
h1{
    font-size: 16px;
    line-height: 20px;
}
p{
    font-size: 16px;
    line-height: 20px;
}
a {
    color:	#FF00FF;
    text-decoration: none;
}
a:hover{
    color: #00FFFF;
}