*{
    box-sizing: border-box;
}
.clearfix:after{
    content:" ";
    display:table;
    clear:both;
}
#brand-wrapper{
    width: 1280px;
    background-color: #f1f1f1;
    margin-bottom: 24px;
}
.lougle{
    float: left;
    height: 60px;
    padding: 12px;
}
form {
    padding-top: 10px;
}
input[type="submit"]{
    background: url(https://s3.amazonaws.com/pratt-web-2/google_mag_glass.png) no-repeat 12px;
    background-color: #4285f4;
    background-size: 18px;
    border: none;
    /*display: inline;*/
    height: 40px;
    width: 40px;
    margin-left: -10px;
    vertical-align: middle;
}
input[type="text"]{
    font-size: 16px;
    padding-left: 8px;
    height: 40px;
    width: 560px;
    vertical-align: middle;
}
.propic {
    float: right;
    height: 40px;
    margin-right: 20px;
    margin-top: -40px;
    /*vertical-align: middle;*/
}
head a{
    height: 20px;
}
nav {
    font-size: 14px;
    border-bottom: 1px #f1f1f1 solid;
    padding-left: 80px;
    padding-bottom: 10px;
}
nav li, footer li{
    display: inline;
    padding: 2px 12px;
    color:gray;
}
body{
    font-family: 'Questrial', sans-serif;
    width: 1280px;
}
.headlines{
    font-size: 18px;
}
.green{
    font-size: 14px;
    color: #006621;
    padding-bottom: 1px;
    padding-top: 3px;
}
.excerpt{
    font-size: 14px;
    color: #545454;
    padding-bottom: 12px;
    line-height: 16px;
}
nav a, footer a, footer{
    color:gray;
    text-decoration: none
}
nav a:hover{
    color:black;
}
footer a:hover{
    color:black;
}
.current{
    border-bottom: 3px solid #4285f4;
    color: #4285f4;
    /*margin: 2px 8px 0;*/
    padding-bottom: 22px;
}
main{
    float: left;
    width: 55%;
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 60px;
}
main img{
    height: 100px;
}
main ul a{
    text-decoration: none;
    color: rgb(26, 13, 171);
}
main ul a:hover{
    text-decoration: underline;
}
main p {
    font-size: 16px;
}
.numbers{
    font-size: 14px;
    color: gray;
    padding-left: 40px;
    padding-bottom: 20px;
}
aside{
    float: right;
    width: 38%;
    margin-top: 68px;
    margin-left: 16px;
    border: 2px #f1f1f1 solid;
}
.rih{
    font-size: 30px;
}
aside a{
    display: inline;
    text-decoration: none;
    color: rgb(26, 13, 171);
}
aside img{
    height: 209px;
    padding: 0px;
}
.title{
    color: gray;
    font-size: 14px;
    padding-bottom: 20px;
}
#asidetext {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    line-height: 16px;
}
footer{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 66px;
    width: 1280px;
    background-color: #f1f1f1;
}
#foot {
    padding-left: 52px;
}
/** {*/
/*    border: solid red 1px;*/
/*}*/