body{
    font-family: 'Questrial', sans-serif;
}
nav li, footer li{
    display: inline;
    padding: 2px 6px;
    line-height: 300%;
    color:gray;
}
.current{
    border-bottom: 4px rgb(66, 133, 264) solid;
    color: rgb(66, 133, 264);
}
.Green{
    color: rgb(0, 102, 33);
}
nav a, footer a, footer{
    color:gray;
    text-decoration: none
}
nav a, footer a:hover{
    color:black;
}
main ul a{
    text-decoration: none;
    color: rgb(26, 13, 171);
}
main ul a:hover{
    text-decoration: underline
}
header{
    color: gray;
}
input[type="submit"]{
    background: url(https://s3.amazonaws.com/pratt-web-2/google_mag_glass.png) no-repeat 12px;
    background-color: #4285f4;
    background-size: 18px;
    border: none;
    display: inline-block;
    height: 40px;
    width: 40px;
}
input[type="text"]{
    height: 36px;
}
header{
    background-color: #f1f1f1;
}
head a{
    height: 20px;
}
main ul a{
    font-size: large
}
.Green, main p{
    font-size: 14px;
}